In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
wego = pd.read_csv(r'C:\Users\jenni\OneDrive\Desktop\DA12\Projects\Python\wego-python-da12-python-spice-lattes\data\Headway Data, 8-1-2023 to 9-30-2023.csv')

wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [3]:
wego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350329 entries, 0 to 350328
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CALENDAR_ID                350329 non-null  int64
 1   SERVICE_ABBR               350329 non-null  int64
 2   ADHERENCE_ID               350329 non-null  int64
 3   DATE                       350329 non-null  object
 4   ROUTE_ABBR                 350329 non-null  int64
 5   BLOCK_ABBR                 350329 non-null  int64
 6   OPERATOR                   350329 non-null  int64
 7   TRIP_ID                    350329 non-null  int64
 8   OVERLOAD_ID                350329 non-null  int64
 9   ROUTE_DIRECTION_NAME       350329 non-null  object
 10  TIME_POINT_ABBR            350329 non-null  object
 11  ROUTE_STOP_SEQUENCE        350318 non-null  float64
 12  TRIP_EDGE                  350329 non-null  int64
 13  LATITUDE                   350329 non-null  float64
 14  LONGITUDE                  350329 non-null  float64
 15  SCHEDULED_TIME             350329 non-null  object
 16  ACTUAL_ARRIVAL_TIME        338870 non-null  object
 17  ACTUAL_DEPARTURE_TIME      338861 non-null  object
 18  ADHERENCE                  338861 non-null  float64
 19  SCHEDULED_HDWY             274738 non-null  float64
 20  ACTUAL_HDWY                266062 non-null  float64
 21  HDWY_DEV                   265893 non-null  float64
 22  ADJUSTED_EARLY_COUNT       350329 non-null  int64
 23  ADJUSTED_LATE_COUNT        350329 non-null  int64
 24  ADJUSTED_ONTIME_COUNT      350329 non-null  int64
 25  STOP_CANCELLED             350329 non-null  int64
 26  PREV_SCHED_STOP_CANCELLED  280000 non-null  float64
 27  IS_RELIEF                  350329 non-null  int64
 28  DWELL_IN_MINS              338858 non-null  float64
 29  SCHEDULED_LAYOVER_MINUTES  53102 non-null   float64
dtypes: float64(10), int64(14), object(6)
memory usage: 80.2+ MB

In [57]:
#subset columns relevant to direction of travel/route/location and headway and adherence
adherence = wego[['TRIP_ID', 'ROUTE_ABBR', 'ROUTE_DIRECTION_NAME', 'TRIP_EDGE', 'SCHEDULED_TIME', 'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE']]
adherence.loc[:3]

,TRIP_ID,ROUTE_ABBR,ROUTE_DIRECTION_NAME,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE
0,345104,22,TO DOWNTOWN,1,2023-08-01 04:42:00,2023-08-01 04:37:38,2023-08-01 04:44:08,-2.133333
1,345104,22,TO DOWNTOWN,0,2023-08-01 04:46:00,2023-08-01 04:48:27,2023-08-01 04:48:27,-2.450000
2,345104,22,TO DOWNTOWN,0,2023-08-01 04:54:00,2023-08-01 04:54:56,2023-08-01 04:54:56,-0.933333
3,345104,22,TO DOWNTOWN,2,2023-08-01 05:10:00,2023-08-01 05:03:43,2023-08-01 05:03:43,6.283333

In [59]:
#try groupings? see groups by direction, route, location? see if anything about adherence jumps out?

In [61]:
#could also look at a specific route, direction, etc.
route55_adherence = adherence[adherence['ROUTE_ABBR'] == 55]

In [63]:
route55_adherence.head(20)

,TRIP_ID,ROUTE_ABBR,ROUTE_DIRECTION_NAME,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE
3853,347480,55,TO DOWNTOWN,1,2023-08-01 04:23:00,2023-08-01 04:14:25,2023-08-01 04:23:54,-0.900000
3854,347480,55,TO DOWNTOWN,0,2023-08-01 04:30:00,2023-08-01 04:30:37,2023-08-01 04:30:37,-0.616666
3855,347480,55,TO DOWNTOWN,0,2023-08-01 04:37:00,2023-08-01 04:39:14,2023-08-01 04:39:14,-2.233333
3856,347480,55,TO DOWNTOWN,0,2023-08-01 04:44:00,2023-08-01 04:44:44,2023-08-01 04:44:44,-0.733333
3857,347480,55,TO DOWNTOWN,0,2023-08-01 04:54:00,2023-08-01 04:56:17,2023-08-01 04:56:17,-2.283333
3858,347480,55,TO DOWNTOWN,2,2023-08-01 05:07:00,2023-08-01 05:08:13,2023-08-01 05:08:13,-1.216666
3859,347481,55,FROM DOWNTOWN,1,2023-08-01 05:15:00,2023-08-01 05:08:13,2023-08-01 05:16:52,-1.866666
3860,347481,55,FROM DOWNTOWN,0,2023-08-01 05:24:00,2023-08-01 05:24:56,2023-08-01 05:26:36,-2.600000
3861,347481,55,FROM DOWNTOWN,0,2023-08-01 05:35:00,2023-08-01 05:37:18,2023-08-01 05:37:18,-2.300000
3862,347481,55,FROM DOWNTOWN,0,2023-08-01 05:41:00,2023-08-01 05:43:41,2023-08-01 05:43:41,-2.683333
3863,347481,55,FROM DOWNTOWN,0,2023-08-01 05:48:00,2023-08-01 05:50:43,2023-08-01 05:50:43,-2.716666
3864,347481,55,FROM DOWNTOWN,2,2023-08-01 05:56:00,2023-08-01 05:56:38,2023-08-01 05:56:38,-0.633333
3865,347482,55,TO DOWNTOWN,1,2023-08-01 06:04:00,2023-08-01 05:56:38,2023-08-01 06:06:09,-2.150000
3866,347482,55,TO DOWNTOWN,0,2023-08-01 06:12:00,2023-08-01 06:13:34,2023-08-01 06:13:34,-1.566666
3867,347482,55,TO DOWNTOWN,0,2023-08-01 06:20:00,2023-08-01 06:21:36,2023-08-01 06:23:21,-3.350000
3868,347482,55,TO DOWNTOWN,0,2023-08-01 06:28:00,2023-08-01 06:29:36,2023-08-01 06:29:36,-1.600000
3869,347482,55,TO DOWNTOWN,0,2023-08-01 06:40:00,2023-08-01 06:41:21,2023-08-01 06:41:21,-1.350000
3870,347482,55,TO DOWNTOWN,2,2023-08-01 06:55:00,2023-08-01 06:53:53,2023-08-01 06:53:53,1.116666
3871,347483,55,FROM DOWNTOWN,1,2023-08-01 07:05:00,2023-08-01 06:53:53,2023-08-01 07:09:29,-4.483333
3872,347483,55,FROM DOWNTOWN,0,2023-08-01 07:15:00,2023-08-01 07:17:52,2023-08-01 07:17:52,-2.866666

In [ ]:
#maybe i can take an average adherence for each route and see if there's anything interesting

In [69]:
route55_adherence.groupby(['TRIP_ID']).mean(['ADHERENCE']).head(20) #shows the avg adherence for each trip id for this route

         ROUTE_ABBR  TRIP_EDGE  ADHERENCE
TRIP_ID
347480         55.0        0.5  -1.816666
347481         55.0        0.5  -2.757407
347482         55.0        0.5  -5.017592
347483         55.0        0.5  -4.205555
347484         55.0        0.5  -4.752778
347485         55.0        0.5  -5.637037
347486         55.0        0.5  -7.398148
347487         55.0        0.5  -6.725926
347488         55.0        0.5  -3.527778
347489         55.0        0.5  -2.757407
347490         55.0        0.5  -3.620370
347491         55.0        0.5  -4.228703
347492         55.0        0.5  -1.935185
347493         55.0        0.5  -5.150926
347494         55.0        0.5  -1.087037
347495         55.0        0.5  -0.800926
347496         55.0        0.5  -0.244444
347497         55.0        0.5  -0.500000
347498         55.0        0.5  -1.136111
347499         55.0        0.5  -0.557843

In [75]:
#want to look at direction 
route55_adherence.groupby(['ROUTE_DIRECTION_NAME']).mean(['ADHERENCE']).head(20) #shows the avg adherence for each direction

                            TRIP_ID  ROUTE_ABBR  TRIP_EDGE  ADHERENCE
ROUTE_DIRECTION_NAME
FROM DOWNTOWN         352273.866230        55.0   0.501156  -5.673887
TO DOWNTOWN           352281.772889        55.0   0.512633  -3.989490

In [73]:
#want to see route_abb, scheduled times, adherence for route 55
route55_adherence[['TRIP_ID', 'ROUTE_DIRECTION_NAME', 'TRIP_EDGE', 'SCHEDULED_TIME', 'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE']]

,TRIP_ID,ROUTE_DIRECTION_NAME,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE
3853,347480,TO DOWNTOWN,1,2023-08-01 04:23:00,2023-08-01 04:14:25,2023-08-01 04:23:54,-0.900000
3854,347480,TO DOWNTOWN,0,2023-08-01 04:30:00,2023-08-01 04:30:37,2023-08-01 04:30:37,-0.616666
3855,347480,TO DOWNTOWN,0,2023-08-01 04:37:00,2023-08-01 04:39:14,2023-08-01 04:39:14,-2.233333
3856,347480,TO DOWNTOWN,0,2023-08-01 04:44:00,2023-08-01 04:44:44,2023-08-01 04:44:44,-0.733333
3857,347480,TO DOWNTOWN,0,2023-08-01 04:54:00,2023-08-01 04:56:17,2023-08-01 04:56:17,-2.283333
...,...,...,...,...,...,...,...
349481,352674,FROM DOWNTOWN,0,2023-09-30 17:45:00,2023-09-30 17:49:58,2023-09-30 17:49:58,-4.966666
349482,352674,FROM DOWNTOWN,0,2023-09-30 17:57:00,2023-09-30 18:01:13,2023-09-30 18:01:13,-4.216666
349483,352674,FROM DOWNTOWN,0,2023-09-30 18:05:00,2023-09-30 18:10:13,2023-09-30 18:10:13,-5.216666
349484,352674,FROM DOWNTOWN,0,2023-09-30 18:14:00,2023-09-30 18:23:27,2023-09-30 18:23:27,-9.450000
349485,352674,FROM DOWNTOWN,2,2023-09-30 18:23:00,2023-09-30 18:41:38,2023-09-30 18:41:38,-18.633333

In [79]:
#go back to all routes and their adherence
adherence.loc[:20]

,TRIP_ID,ROUTE_ABBR,ROUTE_DIRECTION_NAME,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE
0,345104,22,TO DOWNTOWN,1,2023-08-01 04:42:00,2023-08-01 04:37:38,2023-08-01 04:44:08,-2.133333
1,345104,22,TO DOWNTOWN,0,2023-08-01 04:46:00,2023-08-01 04:48:27,2023-08-01 04:48:27,-2.450000
2,345104,22,TO DOWNTOWN,0,2023-08-01 04:54:00,2023-08-01 04:54:56,2023-08-01 04:54:56,-0.933333
3,345104,22,TO DOWNTOWN,2,2023-08-01 05:10:00,2023-08-01 05:03:43,2023-08-01 05:03:43,6.283333
4,345105,22,FROM DOWNTOWN,1,2023-08-01 05:15:00,2023-08-01 05:03:43,2023-08-01 05:16:35,-1.583333
5,345105,22,FROM DOWNTOWN,0,2023-08-01 05:25:00,2023-08-01 05:24:03,2023-08-01 05:24:03,0.950000
6,345105,22,FROM DOWNTOWN,2,2023-08-01 05:32:00,2023-08-01 05:30:30,2023-08-01 05:30:30,1.500000
7,345106,22,TO DOWNTOWN,1,2023-08-01 05:42:00,2023-08-01 05:30:30,2023-08-01 05:43:43,-1.716666
8,345106,22,TO DOWNTOWN,0,2023-08-01 05:46:00,2023-08-01 05:47:55,2023-08-01 05:47:55,-1.916666
9,345106,22,TO DOWNTOWN,0,2023-08-01 05:54:00,2023-08-01 05:54:11,2023-08-01 05:54:11,-0.183333
10,345106,22,TO DOWNTOWN,2,2023-08-01 06:10:00,2023-08-01 06:05:31,2023-08-01 06:05:31,4.483333
11,345107,22,FROM DOWNTOWN,1,2023-08-01 06:15:00,2023-08-01 06:05:31,2023-08-01 06:16:19,-1.316666
12,345107,22,FROM DOWNTOWN,0,2023-08-01 06:25:00,2023-08-01 06:23:30,2023-08-01 06:23:30,1.500000
13,345107,22,FROM DOWNTOWN,2,2023-08-01 06:35:00,2023-08-01 06:30:59,2023-08-01 06:30:59,4.016666
14,345108,22,TO DOWNTOWN,1,2023-08-01 06:42:00,2023-08-01 06:30:59,2023-08-01 06:43:31,-1.516666
15,345108,22,TO DOWNTOWN,0,2023-08-01 06:46:00,2023-08-01 06:48:00,2023-08-01 06:48:00,-2.000000
16,345108,22,TO DOWNTOWN,0,2023-08-01 06:54:00,2023-08-01 06:57:05,2023-08-01 06:57:05,-3.083333
17,345108,22,TO DOWNTOWN,2,2023-08-01 07:10:00,2023-08-01 07:05:49,2023-08-01 07:05:49,4.183333
18,345109,22,FROM DOWNTOWN,1,2023-08-01 07:15:00,2023-08-01 07:05:49,2023-08-01 07:16:44,-1.733333
19,345109,22,FROM DOWNTOWN,0,2023-08-01 07:25:00,2023-08-01 07:24:02,2023-08-01 07:24:02,0.966666
20,345109,22,FROM DOWNTOWN,0,2023-08-01 07:31:00,2023-08-01 07:30:25,2023-08-01 07:30:25,0.583333

In [101]:
#group by route, direction
routes_v_direction_df = adherence.groupby(['ROUTE_ABBR', 'ROUTE_DIRECTION_NAME']).mean(['ADHERENCE'])
routes_v_direction_df.head(20)

                                       TRIP_ID  TRIP_EDGE  ADHERENCE
ROUTE_ABBR ROUTE_DIRECTION_NAME
3          FROM DOWNTOWN         350814.314757   0.543552  -4.831550
           TO DOWNTOWN           350812.430078   0.547125  -2.689360
7          FROM DOWNTOWN         353147.774179   0.998910  -4.028927
           TO DOWNTOWN           353096.431282   1.000113  -2.599183
22         FROM DOWNTOWN         349834.570063   0.850911  -2.179503
           TO DOWNTOWN           349854.452550   0.915043  -0.041538
23         FROM DOWNTOWN         350160.439171   0.525765  -2.295042
           TO DOWNTOWN           350129.973843   0.749806  -0.959462
50         FROM DOWNTOWN         351549.450737   0.506025  -2.729163
           TO DOWNTOWN           351550.048957   0.512965  -2.282192
52         FROM DOWNTOWN         351888.913318   0.496271  -5.149382
           TO DOWNTOWN           351880.988018   0.536671  -2.723518
55         FROM DOWNTOWN         352273.866230   0.501156  -5.673887
           TO DOWNTOWN           352281.772889   0.512633  -3.989490
56         FROM DOWNTOWN         352687.183636   0.429644  -3.579404
           TO DOWNTOWN           352685.215557   0.604599  -1.484165

In [103]:
#appears that adherence is LESS when buses are coming from downtown as opposed to going TO downtown 
#should double check this work but would make sense - should I bring in trip_id as a groupby as well?

In [105]:
#now let's do this again for headway

In [109]:
headway = wego[['TRIP_ID', 'ROUTE_ABBR', 'ROUTE_DIRECTION_NAME', 'TRIP_EDGE', 'SCHEDULED_TIME', 'SCHEDULED_HDWY', 'ACTUAL_DEPARTURE_TIME', 'ACTUAL_HDWY', 'HDWY_DEV']]
headway.head(20) #nan values showing because these are the first stops of the day

,TRIP_ID,ROUTE_ABBR,ROUTE_DIRECTION_NAME,TRIP_EDGE,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_DEPARTURE_TIME,ACTUAL_HDWY,HDWY_DEV
0,345104,22,TO DOWNTOWN,1,2023-08-01 04:42:00,NaN,2023-08-01 04:44:08,NaN,NaN
1,345104,22,TO DOWNTOWN,0,2023-08-01 04:46:00,NaN,2023-08-01 04:48:27,NaN,NaN
2,345104,22,TO DOWNTOWN,0,2023-08-01 04:54:00,NaN,2023-08-01 04:54:56,NaN,NaN
3,345104,22,TO DOWNTOWN,2,2023-08-01 05:10:00,NaN,2023-08-01 05:03:43,NaN,NaN
4,345105,22,FROM DOWNTOWN,1,2023-08-01 05:15:00,NaN,2023-08-01 05:16:35,NaN,NaN
5,345105,22,FROM DOWNTOWN,0,2023-08-01 05:25:00,NaN,2023-08-01 05:24:03,NaN,NaN
6,345105,22,FROM DOWNTOWN,2,2023-08-01 05:32:00,NaN,2023-08-01 05:30:30,NaN,NaN
7,345106,22,TO DOWNTOWN,1,2023-08-01 05:42:00,35.0,2023-08-01 05:43:43,37.666666,2.666666
8,345106,22,TO DOWNTOWN,0,2023-08-01 05:46:00,35.0,2023-08-01 05:47:55,36.966666,1.966666
9,345106,22,TO DOWNTOWN,0,2023-08-01 05:54:00,15.0,2023-08-01 05:54:11,14.516666,-0.483334
10,345106,22,TO DOWNTOWN,2,2023-08-01 06:10:00,NaN,2023-08-01 06:05:31,NaN,NaN
11,345107,22,FROM DOWNTOWN,1,2023-08-01 06:15:00,15.0,2023-08-01 06:16:19,12.833333,-2.166667
12,345107,22,FROM DOWNTOWN,0,2023-08-01 06:25:00,15.0,2023-08-01 06:23:30,11.116666,-3.883334
13,345107,22,FROM DOWNTOWN,2,2023-08-01 06:35:00,NaN,2023-08-01 06:30:59,NaN,NaN
14,345108,22,TO DOWNTOWN,1,2023-08-01 06:42:00,60.0,2023-08-01 06:43:31,59.800000,-0.200000
15,345108,22,TO DOWNTOWN,0,2023-08-01 06:46:00,60.0,2023-08-01 06:48:00,60.083333,0.083333
16,345108,22,TO DOWNTOWN,0,2023-08-01 06:54:00,15.0,2023-08-01 06:57:05,17.716666,2.716666
17,345108,22,TO DOWNTOWN,2,2023-08-01 07:10:00,NaN,2023-08-01 07:05:49,NaN,NaN
18,345109,22,FROM DOWNTOWN,1,2023-08-01 07:15:00,15.0,2023-08-01 07:16:44,15.233333,0.233333
19,345109,22,FROM DOWNTOWN,0,2023-08-01 07:25:00,15.0,2023-08-01 07:24:02,14.616666,-0.383334